.heading {
    font: size 25px; ;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(48, 48, 48);
    
}

.note {
    font-size: 15px;
    color: rgb(76, 0, 255);
    
}

.copy_right_footer {
    position:fixed ; 
    color: crimson;
    bottom:0;
    width: 100%;
    background-color: cyan;
    line-height:3;
    text-align: center;

}

canvas {
    border: 5px solid  aqua;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(73, 73, 73);
    
}
